{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Все задачи | doozy</title>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-6">
          <div class="card-header">Все задачи</div>
          <div class="card text-center">
            <a href="{% url 'tasks:create' %}" class="btn btn-dark">Добавить новую задачу</a>
          </div>

          <ul class="list-group">
            {% for task in task_list %}
            {% if task.author__username == user.username %}
                <li class="list-group-item">
                  <form method="post" action="{% url 'tasks:toggle_task' task.id %}" onchange="this.form.submit()" {% if task.completed %} checked {% endif %} >
                    {% csrf_token %}
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched" />
                  </form>
                  <label class="form-check-label stretched-link" for="firstCheckboxStretched"><h5>{{ task.title }}</h5></label>
                  <p>Приоритет: {{ task.priority__title }}</p>
                </li>
                <a class="btn btn-outline-dark" role="button" href="{% url 'tasks:edit' task.id %}">Изменить</a>
                <a class="btn btn-outline-dark" role="button" href="{% url 'tasks:delete' task.id %}">Удалить</a>
                {% endif %}
                {% endfor %}
              </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
