{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
<title>Детали | doozy</title>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center p-4" style="max-width: 400px; width: 100%;">
        <h5 class="mb-0">{{ task.title}}</h5>
      <small class="text-muted">{{ task.comment }}</small>
      <p class="text-muted mb-1">Статус:
        {% if task.completed %} Выполнено 
        {% else %}
        Не Выполнено
        {% endif %}
      </p>
      <p class="text-muted mb-1">Дата создания: {{ task.created_at }}</p>
      {% if task.finish_at %}
      <p class="text-muted mb-1">Выполнить до: {{ task.finish_at }}</p>
      <p class="text-muted mb-1">Осталось: ###</p>
      {% endif %}
      {% if task.priority %}
      <p class="text-muted mb-1">Приоритет: {{ task.priority }}</p>
      {% endif %}
      <div class="d-flex justify-content-center gap-2 mt-3">
        <a href="{% url 'tasks:edit' task.id %}" class="btn btn-dark">Редактировать</a>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <!-- Модальное окно подтверждения удаления -->
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить задачу?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <form method="post" action="{% url 'tasks:task_detail_delete' task.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}