{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Все задачи | doozy</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm" style="width: 28rem;">
        <div class="card-body">
            <h4 class="card-title mb-3 text-center">📝 Все задачи</h4>
            <!-- форма добавления задачи -->
            <form class="input-group mb-3" method="post" action="{% url 'tasks:create' %}">
              {% csrf_token %}
                <input type="text" name="title" class="form-control" placeholder="Новая задача" required>
                <button class="btn btn-outline-secondary" type="submit">Добавить</button>
              </form>
              <div>
                <a class="btn btn-outline-secondary" href="{% url 'tasks:create' %}">Добавить c параметрами</a>
                </div>
                <br>
            <!-- список задач -->
            <ul class="list-group">
                {% for task in page_obj %}
                {% if task.author == user %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <form method="post" action="{% url 'tasks:toggle_task' task.id %}" class="d-flex align-items-center">
                          {% csrf_token %}
                            <input class="form-check-input me-2" type="checkbox" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
                            <span class="{% if task.completed %}text-decoration-line-through text-muted{% endif %}">
                              {{ task.title }}
                              {% if task.time_left and not task.completed %}
                                <p class="text-muted mb-0">{{task.time_left}}</p>
                              {% endif %}
                            </span>
                        </form>
                        <div>
                          <a href="{% url 'tasks:edit' task.id %}" class="btn btn-sm btn-outline-gray" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать">✏️</a>
                          <form method="post" action="{% url 'tasks:delete' task.id %}" class="d-inline">
                            {% csrf_token %}
                          <button class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить">X</button>
                          </form>
                          <a href="{% url 'tasks:task_detail' task.id %}" class="btn btn-sm btn-outline-gray" data-bs-toggle="tooltip" data-bs-placement="top" title="Подробнее">➡️</a>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center mt-5">
  {% include 'includes/paginator.html' %}
</div>
  {% endif %}
{% endblock %}
