{% extends 'base.html' %}

{% block title %}
  <title>Страница не найдена | doozy</title>
{% endblock %}

{% block content %}
  <div class="bg-light d-flex flex-column justify-content-center align-items-center vh-100 text-center text-dark">
    <h1 class="display-1 fw-bold text-black">404</h1>
    <p class="lead text-secondary mb-4">Похоже, страница потерялась во вселенной Doozy</p>
    <a href="{% url 'tasks:index' %}" class="btn btn-dark rounded-pill px-4">Вернуться на главную</a>
  </div>
{% endblock %}
