{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" /> {% endcomment %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% if '/edit/' in request.path %}
      <title>Редактировать задачу</title>
    {% elif '/delete/' in request.path %}
      <title>Удалить задачу</title>
    {% else %}
      <title>Добавить задачу</title>
    {% endif %}
  </head>
  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'tasks:index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <img src="{% static 'img/logo-doozy.png' %}" width="25" height="25" alt="Логотип doozy" />
        </svg>
        <span class="fs-4">doozy</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="{% url 'tasks:index' %}" class="nav-link active" aria-current="page">Главная</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks:create' %}" class="nav-link">Создать задачу</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Мои задачи</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">О проекте</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Прифиль - {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Выйти</a>
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-6">
          {% if '/edit/' in request.path %}
            <div class="card-header">Редактировать задачу</div>
          {% elif '/delete/' in request.path %}
            <div class="card-header">Удалить задачу</div>
          {% else %}
            <div class="card-header">Создать задачу</div>
          {% endif %}
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% if not '/delete/' in request.path %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type='submit' content='Создать' %}
              {% else %}
                <p>{{ form.instance.title }}</p>
                {% bootstrap_button button_type='submit' content='Удалить' %}
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
