{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" />
    <link rel="icon" href="{% static 'img/favicons/favicon.svg' %}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{% static 'img/favicons/favicon.png' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" /> {% endcomment %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Главная | Doozy</title>
  </head>
  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'tasks:index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <img src="{% static 'img/logo-doozy.png' %}" width="25" height="25" alt="Логотип doozy" />
        </svg>
        <span class="fs-4">doozy</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="{% url 'tasks:index' %}" class="nav-link active" aria-current="page">Главная</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks:create' %}" class="nav-link">Создать задачу</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Мои задачи</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">О проекте</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Прифиль - {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Выйти</a>
        </li>
      </ul>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-6">
          <div class="card-header">Активные задачи</div>
          {% for task in tasks %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" />
                  {{ task.title }}
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="text-left">
                    <p>Приоритет: {{ task.prioroty }}</p>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>{{ task.comment }}</p>
                    <p>Создана: {{ task.created_at }}</p>
                    <p>Выполнить до: {{ task.finish_at }}</p>
                    <p>Статус: {{ task.completed }}</p>
                    <div>
                      <a class="btn btn-outline-dark" role="button" href="{% url 'tasks:edit' task.id %}">Изменить</a>
                      <a class="btn btn-outline-dark" role="button" href="{% url 'tasks:delete' task.id %}">Удалить</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
