{% load static %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="{% url 'tasks:index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="На главную">
    <svg class="bi me-2" width="40" height="32">
      <img src="{% static 'img/logo-doozy.png' %}" width="25" height="25" alt="Логотип doozy" />
    </svg>
    <span class="fs-4">doozy</span>
  </a>

  {% with view_name=request.resolver_match.view_name %}
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="{% url 'tasks:index' %}" class="nav-link {% if view_name == 'tasks:index' %} active {% endif %}" aria-current="page">Главная</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'tasks:task_list' %}" class="nav-link {% if view_name == 'tasks:task_list' %} active {% endif %}">Все задачи</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="{% url 'pages:about' %}" class="nav-link {% if view_name == 'pages:about' %} active {% endif %}">О проекте</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'user:user_profile' user.username %}" class="nav-link">Прифиль - {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link {% if view_name == 'login' %} active {% endif %}">Войти</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link {% if view_name == 'register' %} active {% endif %}">Регистрация</a>
        </li>
      {% endif %}
    </ul>
  {% endwith %}
</header>
